# Environment files
.env
.env.*
!.env.sample

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
giftlink-frontend/build
build/
dist/

# Operating System files
.DS_Store
Thumbs.db
